*.class
*.jar
*.patch
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/.dir-locals.el
/.discarded
/.lein-*
/.nrepl-port
/checkouts/
/classes/
/gen
/lib/
/target/
pom.xml
pom.xml.asc
